<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mamono.dao.CountryMapper">
  <resultMap id="BaseResultMap" type="com.xiaohe.mamono.entity.Country">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SIZE" jdbcType="INTEGER" property="size" />
    <result column="KIND" jdbcType="INTEGER" property="kind" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, SIZE, KIND
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from country
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from country
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.mamono.entity.Country">
    insert into country (ID, NAME, SIZE, 
      KIND)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{kind,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.mamono.entity.Country">
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="size != null">
        SIZE,
      </if>
      <if test="kind != null">
        KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.mamono.entity.Country">
    update country
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        SIZE = #{size,jdbcType=INTEGER},
      </if>
      <if test="kind != null">
        KIND = #{kind,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.mamono.entity.Country">
    update country
    set NAME = #{name,jdbcType=VARCHAR},
      SIZE = #{size,jdbcType=INTEGER},
      KIND = #{kind,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>