<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mamono.dao.GrowMapper">
  <resultMap id="BaseResultMap" type="com.xiaohe.mamono.entity.Grow">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MONO_ID" jdbcType="INTEGER" property="monoId" />
    <result column="CHILD" jdbcType="REAL" property="child" />
    <result column="YOUNG" jdbcType="REAL" property="young" />
    <result column="ADULT" jdbcType="REAL" property="adult" />
    <result column="MIDDLE" jdbcType="REAL" property="middle" />
    <result column="OLD" jdbcType="REAL" property="old" />
    <result column="LV_UP_EMP" jdbcType="REAL" property="lvUpEmp" />
    <result column="PA" jdbcType="REAL" property="pa" />
    <result column="MA" jdbcType="REAL" property="ma" />
    <result column="PD" jdbcType="REAL" property="pd" />
    <result column="MD" jdbcType="REAL" property="md" />
    <result column="HP" jdbcType="REAL" property="hp" />
    <result column="MP" jdbcType="REAL" property="mp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MONO_ID, CHILD, YOUNG, ADULT, MIDDLE, OLD, LV_UP_EMP, PA, MA, PD, MD, HP, MP
  </sql>
  <select id="selectByExample" parameterType="com.xiaohe.mamono.entity.GrowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from grow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grow
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grow
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xiaohe.mamono.entity.GrowExample">
    delete from grow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiaohe.mamono.entity.Grow">
    insert into grow (ID, MONO_ID, CHILD, 
      YOUNG, ADULT, MIDDLE, OLD, 
      LV_UP_EMP, PA, MA, PD, 
      MD, HP, MP)
    values (#{id,jdbcType=INTEGER}, #{monoId,jdbcType=INTEGER}, #{child,jdbcType=REAL}, 
      #{young,jdbcType=REAL}, #{adult,jdbcType=REAL}, #{middle,jdbcType=REAL}, #{old,jdbcType=REAL}, 
      #{lvUpEmp,jdbcType=REAL}, #{pa,jdbcType=REAL}, #{ma,jdbcType=REAL}, #{pd,jdbcType=REAL}, 
      #{md,jdbcType=REAL}, #{hp,jdbcType=REAL}, #{mp,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.mamono.entity.Grow">
    insert into grow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="monoId != null">
        MONO_ID,
      </if>
      <if test="child != null">
        CHILD,
      </if>
      <if test="young != null">
        YOUNG,
      </if>
      <if test="adult != null">
        ADULT,
      </if>
      <if test="middle != null">
        MIDDLE,
      </if>
      <if test="old != null">
        OLD,
      </if>
      <if test="lvUpEmp != null">
        LV_UP_EMP,
      </if>
      <if test="pa != null">
        PA,
      </if>
      <if test="ma != null">
        MA,
      </if>
      <if test="pd != null">
        PD,
      </if>
      <if test="md != null">
        MD,
      </if>
      <if test="hp != null">
        HP,
      </if>
      <if test="mp != null">
        MP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="monoId != null">
        #{monoId,jdbcType=INTEGER},
      </if>
      <if test="child != null">
        #{child,jdbcType=REAL},
      </if>
      <if test="young != null">
        #{young,jdbcType=REAL},
      </if>
      <if test="adult != null">
        #{adult,jdbcType=REAL},
      </if>
      <if test="middle != null">
        #{middle,jdbcType=REAL},
      </if>
      <if test="old != null">
        #{old,jdbcType=REAL},
      </if>
      <if test="lvUpEmp != null">
        #{lvUpEmp,jdbcType=REAL},
      </if>
      <if test="pa != null">
        #{pa,jdbcType=REAL},
      </if>
      <if test="ma != null">
        #{ma,jdbcType=REAL},
      </if>
      <if test="pd != null">
        #{pd,jdbcType=REAL},
      </if>
      <if test="md != null">
        #{md,jdbcType=REAL},
      </if>
      <if test="hp != null">
        #{hp,jdbcType=REAL},
      </if>
      <if test="mp != null">
        #{mp,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiaohe.mamono.entity.GrowExample" resultType="java.lang.Long">
    select count(*) from grow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="mamonoMap">
    update grow
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.monoId != null">
        MONO_ID = #{record.monoId,jdbcType=INTEGER},
      </if>
      <if test="record.child != null">
        CHILD = #{record.child,jdbcType=REAL},
      </if>
      <if test="record.young != null">
        YOUNG = #{record.young,jdbcType=REAL},
      </if>
      <if test="record.adult != null">
        ADULT = #{record.adult,jdbcType=REAL},
      </if>
      <if test="record.middle != null">
        MIDDLE = #{record.middle,jdbcType=REAL},
      </if>
      <if test="record.old != null">
        OLD = #{record.old,jdbcType=REAL},
      </if>
      <if test="record.lvUpEmp != null">
        LV_UP_EMP = #{record.lvUpEmp,jdbcType=REAL},
      </if>
      <if test="record.pa != null">
        PA = #{record.pa,jdbcType=REAL},
      </if>
      <if test="record.ma != null">
        MA = #{record.ma,jdbcType=REAL},
      </if>
      <if test="record.pd != null">
        PD = #{record.pd,jdbcType=REAL},
      </if>
      <if test="record.md != null">
        MD = #{record.md,jdbcType=REAL},
      </if>
      <if test="record.hp != null">
        HP = #{record.hp,jdbcType=REAL},
      </if>
      <if test="record.mp != null">
        MP = #{record.mp,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="mamonoMap">
    update grow
    set ID = #{record.id,jdbcType=INTEGER},
      MONO_ID = #{record.monoId,jdbcType=INTEGER},
      CHILD = #{record.child,jdbcType=REAL},
      YOUNG = #{record.young,jdbcType=REAL},
      ADULT = #{record.adult,jdbcType=REAL},
      MIDDLE = #{record.middle,jdbcType=REAL},
      OLD = #{record.old,jdbcType=REAL},
      LV_UP_EMP = #{record.lvUpEmp,jdbcType=REAL},
      PA = #{record.pa,jdbcType=REAL},
      MA = #{record.ma,jdbcType=REAL},
      PD = #{record.pd,jdbcType=REAL},
      MD = #{record.md,jdbcType=REAL},
      HP = #{record.hp,jdbcType=REAL},
      MP = #{record.mp,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.mamono.entity.Grow">
    update grow
    <set>
      <if test="monoId != null">
        MONO_ID = #{monoId,jdbcType=INTEGER},
      </if>
      <if test="child != null">
        CHILD = #{child,jdbcType=REAL},
      </if>
      <if test="young != null">
        YOUNG = #{young,jdbcType=REAL},
      </if>
      <if test="adult != null">
        ADULT = #{adult,jdbcType=REAL},
      </if>
      <if test="middle != null">
        MIDDLE = #{middle,jdbcType=REAL},
      </if>
      <if test="old != null">
        OLD = #{old,jdbcType=REAL},
      </if>
      <if test="lvUpEmp != null">
        LV_UP_EMP = #{lvUpEmp,jdbcType=REAL},
      </if>
      <if test="pa != null">
        PA = #{pa,jdbcType=REAL},
      </if>
      <if test="ma != null">
        MA = #{ma,jdbcType=REAL},
      </if>
      <if test="pd != null">
        PD = #{pd,jdbcType=REAL},
      </if>
      <if test="md != null">
        MD = #{md,jdbcType=REAL},
      </if>
      <if test="hp != null">
        HP = #{hp,jdbcType=REAL},
      </if>
      <if test="mp != null">
        MP = #{mp,jdbcType=REAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.mamono.entity.Grow">
    update grow
    set MONO_ID = #{monoId,jdbcType=INTEGER},
      CHILD = #{child,jdbcType=REAL},
      YOUNG = #{young,jdbcType=REAL},
      ADULT = #{adult,jdbcType=REAL},
      MIDDLE = #{middle,jdbcType=REAL},
      OLD = #{old,jdbcType=REAL},
      LV_UP_EMP = #{lvUpEmp,jdbcType=REAL},
      PA = #{pa,jdbcType=REAL},
      MA = #{ma,jdbcType=REAL},
      PD = #{pd,jdbcType=REAL},
      MD = #{md,jdbcType=REAL},
      HP = #{hp,jdbcType=REAL},
      MP = #{mp,jdbcType=REAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>