<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mamono.dao.RaceMapper">
  <resultMap id="BaseResultMap" type="com.xiaohe.mamono.entity.Race">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LIFETIME_MIN" jdbcType="BIGINT" property="lifetimeMin" />
    <result column="LIFETIME_MAN" jdbcType="BIGINT" property="lifetimeMan" />
    <result column="FATHER_RACE_ID" jdbcType="INTEGER" property="fatherRaceId" />
    <result column="MOTHER_RACEID" jdbcType="INTEGER" property="motherRaceid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, LIFETIME_MIN, LIFETIME_MAN, FATHER_RACE_ID, MOTHER_RACEID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from race
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from race
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaohe.mamono.entity.Race">
    insert into race (ID, NAME, LIFETIME_MIN, 
      LIFETIME_MAN, FATHER_RACE_ID, MOTHER_RACEID
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{lifetimeMin,jdbcType=BIGINT}, 
      #{lifetimeMan,jdbcType=BIGINT}, #{fatherRaceId,jdbcType=INTEGER}, #{motherRaceid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaohe.mamono.entity.Race">
    insert into race
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="lifetimeMin != null">
        LIFETIME_MIN,
      </if>
      <if test="lifetimeMan != null">
        LIFETIME_MAN,
      </if>
      <if test="fatherRaceId != null">
        FATHER_RACE_ID,
      </if>
      <if test="motherRaceid != null">
        MOTHER_RACEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lifetimeMin != null">
        #{lifetimeMin,jdbcType=BIGINT},
      </if>
      <if test="lifetimeMan != null">
        #{lifetimeMan,jdbcType=BIGINT},
      </if>
      <if test="fatherRaceId != null">
        #{fatherRaceId,jdbcType=INTEGER},
      </if>
      <if test="motherRaceid != null">
        #{motherRaceid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaohe.mamono.entity.Race">
    update race
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lifetimeMin != null">
        LIFETIME_MIN = #{lifetimeMin,jdbcType=BIGINT},
      </if>
      <if test="lifetimeMan != null">
        LIFETIME_MAN = #{lifetimeMan,jdbcType=BIGINT},
      </if>
      <if test="fatherRaceId != null">
        FATHER_RACE_ID = #{fatherRaceId,jdbcType=INTEGER},
      </if>
      <if test="motherRaceid != null">
        MOTHER_RACEID = #{motherRaceid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaohe.mamono.entity.Race">
    update race
    set NAME = #{name,jdbcType=VARCHAR},
      LIFETIME_MIN = #{lifetimeMin,jdbcType=BIGINT},
      LIFETIME_MAN = #{lifetimeMan,jdbcType=BIGINT},
      FATHER_RACE_ID = #{fatherRaceId,jdbcType=INTEGER},
      MOTHER_RACEID = #{motherRaceid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>